//- All "modal dialogs" to load each big image modal...
//- ...with SuperScale Effect when it loads

//- 1.(mixin declaration) common "close" BTN
mixin btn
  button(data-text='X Close me!').btn.menu__link.glitch.js-modal-close X Close me!
  
//- 2. All modal dialogs with mixin BTN applied
#modal-01.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/movistar-upplication_promo-rollup_by-jalofernandez.jpg',
        alt='Upplication + Movistar promo rollup by @jalofernandez',
        title='Upplication + Movistar promo rollup by @jalofernandez')
    p Upplication + Movistar promo rollup
    +btn
    
#modal-02.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/bcard_upplication_01.jpg',
        alt='Upplication business card side A by @jalofernandez',
        title='Upplication business card side A by @jalofernandez')
    p Upplication corporate business card side A
    +btn
    
#modal-03.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/bcard_upplication_02.jpg',
        alt='Upplication business card side B by @jalofernandez',
        title='Upplication business card side B by @jalofernandez')
    p Upplication corporate business card side B
    +btn
    
#modal-04.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/upplication_pwa-infography_by-jalofernandez.jpg',
        alt='Upplication PWA infography layout by @jalofernandez',
        title='Upplication PWA infography layout by @jalofernandez')
    p Upplication PWA infography layout
    +btn
            
#modal-05.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/app_sample-pic_restaurant-module.png',
        alt='Upplication App (Restaurant module) by @jalofernandez',
        title='Upplication App (Restaurant module) by @jalofernandez')
    p Upplication App UX / UI of a Restaurant module
    +btn
          
#modal-06.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/acens-upplication_infography-cover_by-jalofernandez.jpg',
        alt='Upplication + Acens commercial infography by @jalofernandez',
        title='Upplication + Acens commercial infography by @jalofernandez')
    p Upplication + Acens infography cover
    +btn
    
#modal-07.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/upplication_socialmedia-promo-artwork_by-jalofernandez.jpg',
        alt='Upplication Valentines Day promo artwork to social media by @jalofernandez',
        title='Upplication Valentines Day promo artwork to social media by @jalofernandez')
    p Upplication Valentines Day artwork to social media
    +btn
        
#modal-08.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/acens-upplication_infography-page_by-jalofernandez.jpg',
      alt='Upplication + Acens commercial infography @jalofernandez',
      title='Upplication + Acens commercial infography by @jalofernandez')
    p Upplication + Acens commercial infography
    +btn
    
#modal-09.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/upp_ebook_conseguir-1000-descargas-tu-app.png',
        alt='Upplication eBook layout sample by @jalofernandez',
        title='Upplication eBook layout sample by @jalofernandez')
    p Upplication eBook single page layout
    +btn
        
#modal-10.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/abc_bcard-front-claram_designed-by-jalofernandez.jpg',
        alt='ABC architecture business card side A by @jalofernandez',
        title='ABC architecture business card side A by @jalofernandez')
    p ABC architecture corporate business card side A
    +btn
    
#modal-11.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/abc_bcard-front-claram_designed-by-jalofernandez.jpg',
        alt='ABC architecture business card side B by @jalofernandez',
        title='ABC architecture business card side B by @jalofernandez')
    p ABC architecture corporate business card side B
    +btn
        
#modal-12.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/upplication_promo-sticker_by-jalofernandez.jpg',
        alt='Upplication promo sticker by @jalofernandez',
        title='Upplication promo sticker by @jalofernandez')
    p Upplication promo sticker
    +btn
        
#modal-13.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/upplication_socialmedia-hiring-artwork_by-jalofernandez.jpg',
        alt='Upplication backend developer to hire artwork by @jalofernandez',
        title='Upplication backend developer to hire artwork by @jalofernandez')
    p Upplication artwork to social media
    +btn 

#modal-14.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/app_sample-pic_mcommerce-module.png',
        alt='Upplication mCommerce module for Apps by @jalofernandez',
        title='Upplication mCommerce module for Apps by @jalofernandez')
    p Upplication mCommerce module for Apps
    +btn 

#modal-15.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/upp_dashboard_shipping-charges-view_by-jalofernandez.jpg',
        alt='Upplication dashboard shipping charges feature by @jalofernandez',
        title='Upplication dashboard shipping charges feature by @jalofernandez')
    p Upplication dashboard shipping charges view
    +btn
    
#modal-16.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/upplication_ios-template-promo_by-jalofernandez.jpg',
        alt='Upplication iOS Template promo artwork by @jalofernandez',
        title='Upplication iOS Template promo artwork by @jalofernandez')
    p Upplication iOS Template promo artwork
    +btn 


//-#modal-17.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/movistar-upplication_promo-rollup_by-jalofernandez.jpg',
        alt='Upplication + Movistar promo rollup by @jalofernandez',
        title='Upplication + Movistar promo rollup by @jalofernandez')
    p Upplication + Movistar promo rollup
    +btn
          
#modal-18.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/upplication_dashboard-custom-forms-feature_by-jalofernandez.jpg',
        alt='Upplication dashboard promo feature by @jalofernandez',
        title='Upplication dashboard promo feature by @jalofernandez')
    p Upplication dashboard promo feature
    +btn 

#modal-19.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/_ecomerzpro_email-template-marketplace_by-jalofernandez.jpg',
        alt='EcomerzPro email layout by @jalofernandez',
        title='EcomerzPro email layout by @jalofernandez')
    p Newsletter email layout to EcomerzPro
    +btn 

#modal-20.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/britishknights_packaging-shoesbox_by-jalofernandez.jpg',
        alt='British Knights shoesbox packaging by @jalofernandez',
        title='British Knights shoesbox packaging by @jalofernandez')
    p British Knights by Sergio Alcover shoesbox packaging 
    +btn 
    
#modal-21.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/wellness_promo-flyerA5-sideA_by-jalofernandez.jpg',
        alt='Wellness promo flyer layout by @jalofernandez',
        title='Wellness promo flyer layout by @jalofernandez')
    p Wellness promotional flyer layout side A 
    +btn 
    
#modal-22.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/wellness_promo-flyerA5-sideB_by-jalofernandez.jpg',
        alt='Wellness promo flyer layout by @jalofernandez',
        title='Wellness promo flyer layout by @jalofernandez')
    p Wellness promotional flyer layout side B 
    +btn 

#modal-23.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/britishknights_winter-catalog_by-jalofernandez.jpg',
        alt='British Knights winter catalog page by @jalofernandez',
        title='British Knights winter catalog page by @jalofernandez')
    p British Knights winter catalog page
    +btn 
    
#modal-24.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/widitrade_manager-offer-details_by-jalofernandez.jpg',
        alt='Widitrade manager offer detail view by @jalofernandez',
        title='Widitrade manager offer detail view by @jalofernandez')
    p Widitrade manager offer detail view
    +btn

#modal-25.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/byeinsects_landing-page-with-counterdown_by-jalofernandez.jpg',
        alt='Bye Insects landing page by @jalofernandez',
        title='Bye Insects landing page by @jalofernandez')
    p Bye Insects landing page (mobile layout)
    +btn
    
#modal-26.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/byeinsects_landing-page-desktop_by-jalofernandez.jpg',
        alt='Bye Insects landing page by @jalofernandez',
        title='Bye Insects landing page by @jalofernandez')
    p Bye Insects landing page (desktop layout)
    +btn
    
#modal-27.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/spalding_promo-flyer-basket_by-jalofernandez.jpg',
        alt='Spalding promo flyer layout by @jalofernandez',
        title='Spalding promo flyer layout by @jalofernandez')
    p Spalding promo flyer layout
    +btn
    
#modal-28.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/ecomerzpro-club_landing-page_by-jalofernandez.jpg',
        alt='Ecomerz Pro landing page by @jalofernandez',
        title='Ecomerz Pro landing page by @jalofernandez')
    p Ecomerz Pro landing page
    +btn
    
#modal-29.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/oportino_bcard-sideA_by-jalofernandez.jpg',
        alt='O´Portiño business card side A by @jalofernandez',
        title='O´Portiño business card side A by @jalofernandez')
    p O´Portiño restaurant business card
    +btn
    
#modal-30.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/medion_promo-triptico-exterior_by-jalofernandez.jpg',
        alt='Medion promo flyer layout by @jalofernandez',
        title='Medion promo flyer layout by @jalofernandez')
    p Medion promo flyer layout
    +btn
    
#modal-31.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/medion_promo-triptico-interior_by-jalofernandez.jpg',
        alt='Medion promo flyer layout by @jalofernandez',
        title='Medion promo flyer layout by @jalofernandez')
    p Medion promo flyer layout
    +btn
    
#modal-32.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/brithisknights_swimsuit-mix-specs_by-jalofernandez.jpg',
        alt='British Knights swinsuit chart sheet by @jalofernandez',
        title='British Knights swinsuit chart sheet by @jalofernandez')
    p British Knights swinsuit chart sheet specs
    +btn    
    
#modal-33.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/britishknights_baseball-logo_designed-by-jalofernandez.jpg',
        alt='British Knights baseball logo by @jalofernandez',
        title='British Knights baseball logo by @jalofernandez')
    p British Knights logo to baseball series collection
    +btn
    
#modal-34.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/puntoycoma_comic_strip_n28_by-jalofernandez.jpg',
        alt='Comic strip to Punto y Coma magazine by @jalofernandez',
        title='Comic strip to Punto y Coma magazine by @jalofernandez')
    p Comic strip to Punto y Coma magazine
    +btn
    
#modal-35.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/wellness_bcard-sideA-designed-by-jalofernandez.jpg',
        alt='Wellness business card side A by @jalofernandez',
        title='Wellness business card side A by @jalofernandez')
    p Wellness business card side A
    +btn
    
#modal-36.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/wellness_bcard-sideB-designed-by-jalofernandez.jpg',
        alt='Wellness business card side B by @jalofernandez',
        title='Wellness business card side B by @jalofernandez')
    p Wellness business card side B
    +btn
    
#modal-37.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/domolock-app_concept-logo_by-jalofernandez.jpg',
        alt='Domolock App concept logo by @jalofernandez',
        title='Domolock App concept logo by @jalofernandez')
    p Domolock App concept logo
    +btn
    
#modal-38.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/puntoycoma_comic_strip_n32_by-jalofernandez.jpg',
        alt='Comic strip to Punto y Coma magazine by @jalofernandez',
        title='Comic strip to Punto y Coma magazine by @jalofernandez')
    p Comic strip to Punto y Coma magazine
    +btn
    
#modal-39.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/brithisknights_hoddie-specs_by-jalofernandez.jpg',
        alt='British Knights hoddie chart sheet by @jalofernandez',
        title='British Knights hoddie chart sheet by @jalofernandez')
    p British Knights hoddie chart sheet specs
    +btn
    
#modal-40.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/rusty_parka-snow-labels-sideA_by-jalofernandez.jpg',
        alt='Rusty labels to winter jackets by @jalofernandez',
        title='Rusty labels to winter jackets by @jalofernandez')
    p Rusty labels to winter jackets
    +btn
    
#modal-41.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/rusty_parka-snow-labels-sideB_by-jalofernandez.jpg',
        alt='Rusty labels to winter jackets by @jalofernandez',
        title='Rusty labels to winter jackets by @jalofernandez')
    p Rusty labels to winter jackets
    +btn
    
#modal-42.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/britishknights_promo-collection_by-jalofernandez.jpg',
        alt='British Knights tees promo poster @jalofernandez',
        title='British Knights tees promo poster by @jalofernandez')
    p British Knights tees collection promo poster
    +btn
    
#modal-43.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/salondejuegos_bcard-invitation_by-jalofernandez.jpg',
        alt='Salón de Juegos business card + invitation by @jalofernandez',
        title='Salón de Juegos business card + invitation by @jalofernandez')
    p Salón de Juegos business card + invitation
    +btn
    
#modal-44.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/laparadadelosmonstruos-bar_flyer-halloween_by-jalofernandez.jpg',
        alt='La Parada de los Monstruos flyer by @jalofernandez',
        title='La Parada de los Monstruos flyer by @jalofernandez')
    p La Parada de los Monstruos flyer
    +btn
    
#modal-45.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/aiba_adoption-campaign-logo_by-jalofernandez.jpg',
        alt='Wellness newsletter sign layout by @jalofernandez',
        title='Wellness newsletter sign layout by @jalofernandez')
    p Wellness newsletter sign layout
    +btn
    
#modal-46.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/wellness_website-newsletter-sign_by-jalofernandez.jpg',
        alt='Wellness newsletter sign layout by @jalofernandez',
        title='Wellness newsletter sign layout by @jalofernandez')
    p Wellness newsletter sign layout
    +btn    
    
#modal-47.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/knowers_about-us-page_by-jalofernandez.jpg',
        alt='Knowers landing page layout by @jalofernandez',
        title='Knowers landing page layout by @jalofernandez')
    p Knowers landing page layout
    +btn
        
#modal-48.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/lepainquotidien_daily-menu-promo-poster_by-jalofernandez.jpg',
        alt='Le Pain Quotidien promo poster by @jalofernandez',
        title='Le Pain Quotidien promo poster by @jalofernandez')
    p Le Pain Quotidien promo poster
    +btn
        
#modal-49.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/teayudamosavendermas_folder_by-jalofernandez.jpg',
        alt='Te ayudamos a vender más promo folders by @jalofernandez',
        title='Te ayudamos a vender más promo folders by @jalofernandez')
    p Te ayudamos a vender más promo folders
    +btn
        
#modal-50.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/artsclubmadrid_drinks-card_by-jalofernandez.jpg',
        alt='Arts Club Madrid drinks card page by @jalofernandez',
        title='Arts Club Madrid drinks card page by @jalofernandez')
    p Arts Club Madrid drinks card page
    +btn 
    
#modal-51.md-modal.md-effect-16
  .md-content
    img(src='img/portfolio/gastronomix_website-footer_by-jalofernandez.jpg',
        alt='Gastronomix website by @jalofernandez',
        title='Gastronomix website by @jalofernandez')
    p Gastronomix website
    +btn
                                                                           
//- overlay (element) common in all Modals      
.th-modal-overlay.flicker
