doctype html
html.no-js(lang='es')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title jalofernández cv resume about me
        meta(name='description', content='Sobre mi y CV personal de Javier Lorenzo Fernández (aka jalofernandez). Diseñador gráfico y desarrollador web frontend un poco friki como podéis comprobar...')
        //- meta(name='keywords', content='diseño, diseño web, dibujo, maquetación, arte, creatividad, artes finales, design, web design, creatividad, inspiración, inspiration, creative')
        //- (common) Metatags in current view
        include includes/metatags
        //- (external dependency) "upplication" Icons
        link(href='//upplication.github.io/icons/upplication-icons.css', rel='stylesheet', type='text/css')
        //- custom styles for current view
        link(rel='stylesheet', type='text/css', href='css/index.css')

    body.old-crt-effect
        main.old-crt-effect
            .pieces(style='background-image: url(img/resume/fire.gif)', data-img-alt='url(img/index/alt.jpg)', data-img-code='url(img/index/code.jpg)')
            .overlay.overlay--hidden
            //-include includes/zeppelin
            .content
                .content__inner
                    //- main & common Header with website name & social media links:
                    include includes/header
                    //-h3.glitch.coming-soon(data-text='Coming Soon...!') #{resume.coming}
                    .menu.menu--code
                        ul.menu__inner
                            li.menu__item
                                a.menu__link(data-switch='') #{index.coder.title}
                            li.menu__item
                                a.menu__link.glitch(href='https://www.upplication.com/en/', target='_blank', rel='noopener noreferrer', title='Upplication® App builder. Create the app for your business, no coding required, fast and simple. Android and iOS app', data-text='Upplication', data-switch='') #{index.coder.upplication.title}
                            li.menu__item
                                a.menu__link.glitch(href='http://proyectogastronomix.org/', target='_blank', rel='noopener noreferrer', title='Gastronomix es un proyecto social gratuito de cocina, gastronomía creativa y reciclaje personal. Organizado por J.P. Morgan, Basque Culinary Center, La Casa y el Mundo y Fundación Tomillo', data-text='Gastronomix', data-switch='') #{index.coder.gastronomix.title}
                            li.menu__item
                                a.menu__link.glitch(href='https://widitrade.com/', target='_blank', rel='noopener noreferrer', title='Widitrade to Increase Your Online Sales Now!', data-text='Widitrade', data-switch='') #{index.coder.widitrade.title}
                            li.menu__item
                                a.menu__link.glitch(href='https://peluqueriacanessa.com/', target='_blank', rel='noopener noreferrer', title='Canessa ofrece servicios de peluquería y belleza canina y felina con cortes de pelo comerciales y de exposición. Servicio de autolavado y de un completo SPA canino.', data-text='Canessa', data-switch='') #{index.coder.canessa.title}
                            li.menu__item
                                a.menu__link.glitch(href='https://ecomerzpro.net/', target='_blank', rel='noopener noreferrer', title='Ecomerzpro Club for ecommerce offers and discounts', data-text='Ecomerzpro Club', data-switch='') #{index.coder.ecomerzpro.title}
                            li.menu__item
                                a.menu__link.glitch(href='https://jalofernandez.github.io/lfcabogados/', target='_blank', rel='noopener noreferrer', title='LFC Abogados y Economistas expertos en Compliance penal. Asesoramos en materia jurídico penal preventiva.', data-text='LFC; Abogados y Economistas', data-switch='') #{index.coder.lfcabogados.title}
                            li.menu__item
                                a.menu__link.glitch(href='https://github.com/jalofernandez', target='_blank', rel='noopener noreferrer', title='@jalofernandez GitHub account', data-text='> ...take a look on Github', data-switch='') #{index.coder.others.title}
                //- TODO: code to add a "back to index" BTN
                    .content__bottom
                        .switch.mode.mode--design
                            a.switch__item.switch__item--current(href='index.html', title='Volver al índice del Website de @jalofernandez') #{resume.back}
            //- to apply a typical blink effect in old CRT monitors
            .line-anim
                .flicker

        //- (js) Files
        script(src='js/scripts.min.js')
        script(src='js/main.min.js')
        //- To register Service Worker & validate it by console log
        include includes/serviceworker
