doctype html
html.no-js(lang='es')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title jalofernández cv resume about me
        meta(name='description', content='Sobre mi y CV personal de Javier Lorenzo Fernández (aka jalofernandez). Diseñador gráfico y desarrollador web frontend un poco friki como podéis comprobar...')
        //- meta(name='keywords', content='diseño, diseño web, dibujo, maquetación, arte, creatividad, artes finales, design, web design, creatividad, inspiración, inspiration, creative')
        //- (common) Metatags in current view
        include includes/metatags
        //- (external dependency) "upplication" Icons
        link(href='//upplication.github.io/icons/upplication-icons.css', rel='stylesheet', type='text/css')
        //- custom styles for current view
        link(rel='stylesheet', type='text/css', href='css/resume.css')

    body.old-crt-effect
        main.old-crt-effect
            .pieces(style='background-image: url(img/resume/fire.gif)', data-img-alt='url(img/index/alt.jpg)', data-img-code='url(img/index/code.jpg)')
            .overlay.overlay--hidden
            //-include includes/zeppelin
            .content
                .content__inner
                    //- main & common Header with website name & social media links:
                    include includes/header
                    //- skills list as a coder & designer
                    .typewriter
                        p.mode--code HTML5, CSS3, PWA, jQuery, javascript,
                        p.mode--code ... nodejs, yarn, less, pug, gulp ...
                        p.mode--code Photography, video edition, design
                    //-.menu
                        ul.menu__inner
                            li.menu__item
                                a.menu__link(data-switch='') #{index.designer.title}
                            li.menu__item
                                a.menu__link.glitch(href='portfolio.html', data-text='layout', data-switch='', title='Ver Portfolio completo de @jalofernandez') #{index.designer.layout.title}
                            li.menu__item
                                a.menu__link.glitch(href='portfolio.html', data-text='photography', data-switch='', title='Ver Portfolio completo de @jalofernandez') #{index.designer.photography.title}
                            li.menu__item
                                a.menu__link.glitch(href='portfolio.html', data-text='UX & UI Web design', data-switch='', title='Ver Portfolio completo de @jalofernandez') #{index.designer.web.title}
                            li.menu__item
                                a.menu__link.glitch(href='portfolio.html', data-text='packaging', data-switch='', title='Ver Portfolio completo de @jalofernandez') #{index.designer.packaging.title}
                            li.menu__item
                                a.menu__link.glitch(href='portfolio.html', data-text='graphisms & draws', data-switch='', title='Ver Portfolio completo de @jalofernandez') #{index.designer.graphisms.title}
                    .content__bottom
                        .switch.mode.mode--code
                            a.btn.menu__link.glitch(href='/', data-text='<< Home') #{back}
            //- to apply a typical blink effect in old CRT monitors
            .line-anim
                .flicker

        //- (js) Files
        script(src='js/scripts.min.js')
        script(src='js/main.min.js')
        //- To register Service Worker & validate it by console log
        include includes/serviceworker
