doctype html
html.no-js(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title jalofernández design webmaster diseño gráfico
        meta(name='description', content='Portfolio y CV personal de Javier Lorenzo Fernández (aka jalofernandez). Diseñador gráfico y desarrollador web frontend así como maravillosa persona.')
        meta(name='keywords', content='diseño, diseño web, frontend, UX, UI, design, web desing, dibujo, maquetación, arte, creatividad, artes finales, diseño gráfico madrid, webmaster madrid, webmaster, diseñador web, diseñador web madrid, creatividad, inspiración, inspiration, creative')
        link(rel='canonical', href='https://jalofernandez.com/')
        //- (common) Metatags in current view
        include includes/metatags
        //- (external dependency) "upplication" Icons
        link(href='//upplication.github.io/icons/upplication-icons.css', rel='stylesheet', type='text/css')
        //- custom styles for current view
        link(rel='stylesheet', type='text/css', href='css/index.css')
        //-
            link(rel='stylesheet', type='text/css', href='sponsor/pater.css')
        script.
            document.documentElement.className = 'js';
    body
        svg.hidden
            symbol#icon-menu(viewbox='0 0 24 24')
                title menu
                path(d='M23.8,6H0.1V3h23.7C23.8,3,23.8,6,23.8,6z M23.8,10.5H0.1v3h23.7C23.8,13.5,23.8,10.5,23.8,10.5z M24,18H10v3h14V18z')
            symbol#icon-menu-alt(viewbox='0 0 24 24')
                title menu alt
                path(d='M10.4,6H0V3h10.4C10.4,3,10.4,6,10.4,6z M10.4,10.5H0v3h10.4C10.4,13.5,10.4,10.5,10.4,10.5z M15.1,18H9v3h6.1V18z M23.4,6H13V3h10.4C23.4,3,23.4,6,23.4,6z M23.4,10.5H13v3h10.4C23.4,13.5,23.4,10.5,23.4,10.5z M23.5,18h-6.1v3h6.1V18z')
        main.old-crt-effect
            .pieces(style='background-image: url(img/index/normal.jpg)', data-img-alt='url(img/index/alt.jpg)', data-img-code='url(img/index/code.jpg)')
            .overlay.overlay--hidden
            .content
                .content__inner
                    .content__top
                        h2.title
                            span.title__inner.mode.mode--design(data-switch='', data-glitch='') #{index.author}
                        .controls
                            a.icon.icon-twitter(href='https://twitter.com/jalofernandez', target='_blank', rel='noopener noreferrer', title='Ver cuenta de Twitter de @jalofernandez')
                            a.icon.icon-instagram(href='https://www.instagram.com/jalofernandez/?ref=badge', target='_blank', rel='noopener noreferrer', title='Ver perfil de Instagram de @jalofernandez')
                            a.icon.icon-linkedin(href='https://www.linkedin.com/in/javierlorenzofernandez/', target='_blank', rel='noopener noreferrer', title='Ver perfil de LinkedIn de @jalofernandez')
                            a.icon.icon-youtube(href='https://www.youtube.com/channel/UCtwY5GMTiS7VQ7kYzGomUsw', target='_blank', rel='noopener noreferrer', title='Ver canal de Youtube de @jalofernandez')
                            a.icon.icon-facebook(href='https://www.facebook.com/jalofernandez?ref=tn_tnmn', target='_blank', rel='noopener noreferrer', title='Ver perfil de Facebook de @jalofernandez')
                            a.icon.icon-github(href='https://github.com/jalofernandez', target='_blank', rel='noopener noreferrer', title='Ver perfil de Github de @jalofernandez')
                            a.icon.icon-mail(href='mailto:jalofernandez@gmail.com', target='_blank', rel='noopener noreferrer', title='Enviar email a @jalofernandez')
                            button.btn.btn--menu.mode.mode--design(type='button', value='text', name='all', aria-label='open', data-switch='')
                                svg.icon--svg.icon--menu
                                    use(xlink:href='#icon-menu')
                                svg.icon--svg.icon--menu-alt
                                    use(xlink:href='#icon-menu-alt')
                    h1.glitch(href='index.html', title='Ver Website de @jalofernandez', data-text='graphic designer') #{index.career}
                    .menu
                        ul.menu__inner
                            li.menu__item
                                a.menu__link(data-switch='') #{index.designer.title}
                            li.menu__item
                                a.menu__link.glitch(href='portfolio.html', data-text='layout', data-switch='', title='Ver Portfolio completo de @jalofernandez') #{index.designer.layout.title}
                            li.menu__item
                                a.menu__link.glitch(href='portfolio.html', data-text='photography', data-switch='', title='Ver Portfolio completo de @jalofernandez') #{index.designer.photography.title}
                            li.menu__item
                                a.menu__link.glitch(href='portfolio.html', data-text='illustration', data-switch='', title='Ver Portfolio completo de @jalofernandez') #{index.designer.illustration.title}
                            li.menu__item
                                a.menu__link.glitch(href='portfolio.html', data-text='textile', data-switch='', title='Ver Portfolio completo de @jalofernandez') #{index.designer.textile.title}
                            li.menu__item
                                a.menu__link.glitch(href='portfolio.html', data-text='graphisms', data-switch='', title='Ver Portfolio completo de @jalofernandez') #{index.designer.graphisms.title}
                    .menu.menu--code
                        ul.menu__inner
                            li.menu__item
                                a.menu__link(data-switch='') #{index.coder.title}
                            li.menu__item
                                a.menu__link.glitch(href='https://www.upplication.com/en/', target='_blank', rel='noopener noreferrer', title='Upplication® App builder. Create the app for your business, no coding required, fast and simple. Android and iOS app', data-text='Upplication', data-switch='') #{index.coder.upplication.title}
                            li.menu__item
                                a.menu__link.glitch(href='http://proyectogastronomix.org/', target='_blank', rel='noopener noreferrer', title='Gastronomix es un proyecto social gratuito de cocina, gastronomía creativa y reciclaje personal. Organizado por J.P. Morgan, Basque Culinary Center, La Casa y el Mundo y Fundación Tomillo', data-text='Gastronomix', data-switch='') #{index.coder.gastronomix.title}
                            li.menu__item
                                a.menu__link.glitch(href='https://jalofernandez.github.io/lfcabogados/', target='_blank', rel='noopener noreferrer', title='LFC Abogados y Economistas expertos en Compliance penal. Asesoramos en materia jurídico penal preventiva.', data-text='LFC; Abogados y Economistas', data-switch='') #{index.coder.lfcabogados.title}
                            li.menu__item
                                a.menu__link.glitch(href='https://peluqueriacanessa.com/', target='_blank', rel='noopener noreferrer', title='Canessa ofrece servicios de peluquería y belleza canina y felina con cortes de pelo comerciales y de exposición. Servicio de autolavado y de un completo SPA canino.', data-text='Canessa', data-switch='') #{index.coder.canessa.title}
                            li.menu__item
                                a.menu__link.glitch(href='https://www.knowers.com/', target='_blank', rel='noopener noreferrer', title='Knowers is the largest source of Experts, Professionals and Specialists Worlwide', data-text='Knowers, ltd.', data-switch='') #{index.coder.knowers.title}
                            li.menu__item
                                a.menu__link.glitch(href='https://github.com/jalofernandez', target='_blank', rel='noopener noreferrer', title='@jalofernandez GitHub account', data-text='> ...take a look on Github', data-switch='') #{index.coder.others.title}
                    .content__bottom
                        .switch.mode.mode--design
                            a.switch__item.switch__item--current(title='') #{index.footer.designer}
                            a.switch__item(title='')
                                span.mode.mode--design(data-switch='', data-glitch='') #{index.footer.coder}
                        .link-wrap
                            a.contact-link.mode.mode--design(href='cv-resume.html', title='Ver C.V. de @jalofernandez', data-switch='', data-glitch='') #{index.footer.work}
                    //-
                      todo: remove this Sponsor section
                      <a class="pater mode mode--design" href="http://synd.co/2p3Fi7n">
                      <img src="sponsor/hired.png" class="pater__img" />
                      <h2 class="pater__title" aria-label="Hired">​Get Your Next Tech Job<br> Faster. Get Hired</h2>
                      <p class="pater__desc">On Hired, companies apply to you. Get in front of 6,000 innovative companies, looking to hire great talent.</p>
                      </a>
                //- /content__inner
            //- /content
            .loading
            .line-anim
        //- (js) Files
        script(src='js/scripts.min.js')
        script(src='js/main.js')
        //- To register Service Worker & validate it by console log
        include includes/serviceworker