doctype html
html.no-js(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title jalofernández design webmaster frontend diseño gráfico
        meta(name='description', content='Portfolio y CV personal de Javier Lorenzo Fernández (aka jalofernandez). Diseñador gráfico y desarrollador web frontend así como maravillosa persona.')
        //- meta(name='keywords', content='diseño, diseño web, frontend, UX, UI, design, web desing, dibujo, maquetación, arte, creatividad, artes finales, diseño gráfico madrid, webmaster madrid, webmaster, diseñador web, diseñador web madrid, creatividad, inspiración, inspiration, creative')
        link(rel='canonical', href='https://jalofernandez.com/')
        //- All DNS Prefetch
        link(rel='dns-prefetch', href='//twitter.com/jalofernandez')
        link(rel='dns-prefetch', href='//www.instagram.com/jalofernandez/?ref=badge')
        link(rel='dns-prefetch', href='//www.linkedin.com/in/javierlorenzofernandez/')
        link(rel='dns-prefetch', href='//www.youtube.com/channel/UCtwY5GMTiS7VQ7kYzGomUsw')
        link(rel='dns-prefetch', href='//www.facebook.com/jalofernandez?ref=tn_tnmn')
        link(rel='dns-prefetch', href='//github.com/jalofernandez')
        link(rel='dns-prefetch', href='//www.upplication.com/en/')
        link(rel='dns-prefetch', href='//proyectogastronomix.org/')
        link(rel='dns-prefetch', href='//widitrade.com/')
        link(rel='dns-prefetch', href='//peluqueriacanessa.com/')
        link(rel='dns-prefetch', href='//ecomerzpro.net/')
        link(rel='dns-prefetch', href='//jalofernandez.github.io/lfcabogados/')
        //- (common) Metatags in current view
        include includes/metatags
        //- custom styles for current view
        link(rel='stylesheet', type='text/css', href='css/index.css')
        //- Structured Data:
        //- (Open Graph)
        include open-graph/og-index
        //- (Twitter cards)
        include twitter-card/tw-index
        //- (Schema)
        include schema/schema-index

        //- link(rel='stylesheet', type='text/css', href='sponsor/pater.css')

        script.
            document.documentElement.className = 'js';
    body
        svg.hidden
            symbol#icon-menu(viewbox='0 0 24 24')
                title menu
                path(d='M23.8,6H0.1V3h23.7C23.8,3,23.8,6,23.8,6z M23.8,10.5H0.1v3h23.7C23.8,13.5,23.8,10.5,23.8,10.5z M24,18H10v3h14V18z')
            symbol#icon-menu-alt(viewbox='0 0 24 24')
                title menu alt
                path(d='M10.4,6H0V3h10.4C10.4,3,10.4,6,10.4,6z M10.4,10.5H0v3h10.4C10.4,13.5,10.4,10.5,10.4,10.5z M15.1,18H9v3h6.1V18z M23.4,6H13V3h10.4C23.4,3,23.4,6,23.4,6z M23.4,10.5H13v3h10.4C23.4,13.5,23.4,10.5,23.4,10.5z M23.5,18h-6.1v3h6.1V18z')
        main.old-crt-effect
            .pieces(style='background-image: url(img/index/normal.jpg); background-size: 100% auto;', data-img-alt='url(img/index/alt.jpg)', data-img-code='url(img/index/code.jpg)')
            .overlay.overlay--hidden
            .content
                .content__inner
                    //- main & common Header with website name & social media links:
                    include includes/header
                    //- Menu: "as a Graphic designer"
                    .menu
                        ul.menu__inner
                            li.menu__item
                                a.menu__link(data-switch='') #{index.designer.title}
                            li.menu__item
                                a.menu__link.glitch(href='portfolio.html', data-text='layout', data-switch='', title='Ver Portfolio completo de @jalofernandez') #{index.designer.layout.title}
                            li.menu__item
                                a.menu__link.glitch(href='portfolio.html', data-text='photography', data-switch='', title='Ver Portfolio completo de @jalofernandez') #{index.designer.photography.title}
                            li.menu__item
                                a.menu__link.glitch(href='portfolio.html', data-text='UX & UI Web design', data-switch='', title='Ver Portfolio completo de @jalofernandez') #{index.designer.web.title}
                            li.menu__item
                                a.menu__link.glitch(href='portfolio.html', data-text='packaging', data-switch='', title='Ver Portfolio completo de @jalofernandez') #{index.designer.packaging.title}
                            li.menu__item
                                a.menu__link.glitch(href='portfolio.html', data-text='graphisms & draws', data-switch='', title='Ver Portfolio completo de @jalofernandez') #{index.designer.graphisms.title}
                    //- Menu: "as a web developer"
                    .menu.menu--code
                        ul.menu__inner
                            li.menu__item
                                a.menu__link(data-switch='') #{index.coder.title}
                            li.menu__item
                                a.menu__link.glitch(href='https://www.upplication.com/en/', target='_blank', rel='noopener noreferrer', title='Upplication® App builder. Create the app for your business, no coding required, fast and simple. Android and iOS app', data-text='Upplication', data-switch='') #{index.coder.upplication.title}
                            li.menu__item
                                a.menu__link.glitch(href='http://proyectogastronomix.org/', target='_blank', rel='noopener noreferrer', title='Gastronomix es un proyecto social gratuito de cocina, gastronomía creativa y reciclaje personal. Organizado por J.P. Morgan, Basque Culinary Center, La Casa y el Mundo y Fundación Tomillo', data-text='Gastronomix', data-switch='') #{index.coder.gastronomix.title}
                            li.menu__item
                                a.menu__link.glitch(href='https://widitrade.com/', target='_blank', rel='noopener noreferrer', title='Widitrade to Increase Your Online Sales Now!', data-text='Widitrade', data-switch='') #{index.coder.widitrade.title}
                            li.menu__item
                                a.menu__link.glitch(href='https://peluqueriacanessa.com/', target='_blank', rel='noopener noreferrer', title='Canessa ofrece servicios de peluquería y belleza canina y felina con cortes de pelo comerciales y de exposición. Servicio de autolavado y de un completo SPA canino.', data-text='Canessa', data-switch='') #{index.coder.canessa.title}
                            li.menu__item
                                a.menu__link.glitch(href='https://ecomerzpro.net/', target='_blank', rel='noopener noreferrer', title='Ecomerzpro Club for ecommerce offers and discounts', data-text='Ecomerzpro Club', data-switch='') #{index.coder.ecomerzpro.title}
                            li.menu__item
                                a.menu__link.glitch(href='https://jalofernandez.github.io/lfcabogados/', target='_blank', rel='noopener noreferrer', title='LFC Abogados y Economistas expertos en Compliance penal. Asesoramos en materia jurídico penal preventiva.', data-text='LFC; Abogados y Economistas', data-switch='') #{index.coder.lfcabogados.title}
                            li.menu__item
                                a.menu__link.glitch.typermark(href='https://github.com/jalofernandez', target='_blank', rel='noopener noreferrer', title='@jalofernandez GitHub account', data-text='> ...take a look on Github', data-switch='') #{index.coder.others.title}
                    .content__bottom
                        .switch.mode.mode--design
                            a.switch__item.switch__item--current(title='') #{index.footer.designer}
                            a.switch__item(title='')
                                span.mode.mode--design(data-switch='', data-glitch='') #{index.footer.coder}
                        .link-wrap
                            a.contact-link.mode.mode--design(href='cv-resume.html', title='Ver C.V. de @jalofernandez', data-switch='', data-glitch='') #{index.footer.work}
                        a.mode.mode--coder(href='legal.html', title='Ver términos legales de @jalofernandez', data-switch='', data-glitch='') Legal
                    //-
                      todo: remove this Sponsor section
                      <a class="pater mode mode--design" href="http://synd.co/2p3Fi7n">
                      <img src="sponsor/hired.png" class="pater__img" />
                      <h2 class="pater__title" aria-label="Hired">​Get Your Next Tech Job<br> Faster. Get Hired</h2>
                      <p class="pater__desc">On Hired, companies apply to you. Get in front of 6,000 innovative companies, looking to hire great talent.</p>
                      </a>
                //- /content__inner
            //- /content
            .loading
            .line-anim
        //- (js) Files
        script(src='js/scripts.min.js')
        script(src='js/main.min.js')
        //- To register Service Worker & validate it by console log
        include includes/serviceworker
