doctype html
html.no-js(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title jalofernández Portfolio web design
        meta(name='description', content='Galería de trabajos del portfolio y CV personal de Javier Lorenzo Fernández (aka jalofernandez). Diseñador gráfico y desarrollador web frontend de los que ya quedan pocos.')
        meta(name='keywords', content='diseño, diseño web, frontend, UX, UI, design, web desing, dibujo, maquetación, arte, creatividad, artes finales, diseño gráfico madrid, webmaster madrid, webmaster, diseñador web, diseñador web madrid, creatividad, inspiración, inspiration, creative')
        //- (common) Metatags in current view
        include includes/metatags
        //- custom styles for current view
        link(rel='stylesheet', type='text/css', href='css/portfolio.css')
    body
        main
            .toolbar.mb2.mt2
                button.btn.fil-cat.menu__link.glitch(type='button', value='text', name='all', aria-labelledby='all', data-rel='all', data-text='All')
                    | #{portfolio.funnel.all}
                button.btn.fil-cat.menu__link.glitch(type='button', value='text', name='all', aria-labelledby='all', data-rel='layout', data-text='layout')
                    | #{portfolio.funnel.layout}
                button.btn.fil-cat.menu__link.glitch(type='button', value='text', name='all', aria-labelledby='all', data-rel='photo', data-text='photography')
                    | #{portfolio.funnel.photography}
                button.btn.fil-cat.menu__link.glitch(type='button', value='text', name='all', aria-labelledby='all', data-rel='web', data-text='UX/UI/Web')
                    | #{portfolio.funnel.web}
                button.btn.fil-cat.menu__link.glitch(type='button', value='text', name='all', aria-labelledby='all', data-rel='draw', data-text='illustration')
                    | #{portfolio.funnel.illustration}
                button.btn.fil-cat.menu__link.glitch(type='button', value='text', name='all', aria-labelledby='all', data-rel='graph', data-text='graphisms')
                    | #{portfolio.funnel.graphisms}
                a.btn.menu__link.glitch(href='/', data-text='Home >>')
                    | #{portfolio.funnel.home}
            div(style='clear:both;')
            #portfolio
                .tile.scale-anm.layout.all
                    img(src='img/portfolio/upp_ebook-movistar_img-promo.png', alt='Upplication + Movistar eBook promo pic by @jalofernandez', title='Upplication + Movistar eBook promo pic by @jalofernandez')
                .tile.scale-anm.layout.all
                    img(src='img/portfolio/bcard_upplication_01.jpg', alt='Upplication business card side A by @jalofernandez', title='Upplication business card side A by @jalofernandez')
                .tile.scale-anm.layout.all
                    img(src='img/portfolio/bcard_upplication_02.jpg', alt='Upplication Developers business card by @jalofernandez', title='Upplication Developers business card by @jalofernandez')
                .tile.scale-anm.layout.web.all
                    img(src='img/portfolio/upp_pwa-infography_01.png', alt='Upplication PWA infography layout by @jalofernandez', title='Upplication PWA infography layout by @jalofernandez')
                .tile.scale-anm.layout.web.all
                    img(src='img/portfolio/app_sample-pic_restaurant-module.png', alt='Upplication App (Restaurant module) by @jalofernandez', title='Upplication App (Restaurant module) by @jalofernandez')
                //-
                    .tile.scale-anm.flyers.all
                        img(src='img/portfolio/350x190.png', alt='', title='')
                .tile.scale-anm.layout.all
                    img(src='img/portfolio/acens-upplication-acens_infografia-comercial_01.png', alt='Upplication + Acens infografía comercial by @jalofernandez', title='Upplication + Acens infografía comercial by @jalofernandez')
                .tile.scale-anm.graph.draw.all
                    img(src='img/portfolio/upp_san-valentin_pink-querubin.png', alt='Upplication Valentines Day promo artwork by @jalofernandez', title='Upplication Valentines Day promo artwork by @jalofernandez')
                .tile.scale-anm.layout.all
                    img(src='img/portfolio/acens-upplication-acens_infografia-comercial_02.png', alt='Upplication + Acens infografía comercial by @jalofernandez', title='Upplication + Acens infografía comercial by @jalofernandez')
                .tile.scale-anm.layout.all
                    img(src='img/portfolio/upp_ebook_conseguir-1000-descargas-tu-app.png', alt='Upplication eBook layout sample by @jalofernandez', title='Upplication eBook layout sample by @jalofernandez')
                .tile.scale-anm.graph.draw.all
                    img(src='img/portfolio/upp_sticker-promo_crea-tu-app.png', alt='Upplication promo sticker by @jalofernandez', title='Upplication promo sticker by @jalofernandez')
                .tile.scale-anm.graph.draw.layout.all
                    img(src='img/portfolio/upp_promo_2017-02-27_hiring-back-dev.png', alt='Upplication backend developer to hire artwork by @jalofernandez', title='Upplication backend developer to hire artwork by @jalofernandez')
                .tile.scale-anm.web.layout.all
                    img(src='img/portfolio/app_sample-pic_mcommerce-module.png', alt='Upplication App (mCommerce module) by @jalofernandez', title='Upplication App (mCommerce module) by @jalofernandez')
                .tile.scale-anm.web.layout.all
                    img(src='img/portfolio/upp_customer-account_dashb.png', alt='Upplication to promo dashboard feature by @jalofernandez', title='Upplication to promo dashboard feature by @jalofernandez')
                .tile.scale-anm.graph.draw.all
                    img(src='img/portfolio/upp_iOS-template_promo.png', alt='Upplication to promo iOS Template by @jalofernandez', title='Upplication to promo iOS Template by @jalofernandez')
                //-
                    .tile.scale-anm.web.all
                        img(src='img/portfolio/350x190.png', alt='', title='')
                .tile.scale-anm.layout.graph.draw.all
                    img(src='img/portfolio/upp_movistar_rollup.png', alt='Upplication + Movistar promo rollup by @jalofernandez', title='Upplication + Movistar promo rollup by @jalofernandez')
                //- TODO: images gallery BASE
                    .tile.scale-anm.web.all
                        img(src='img/portfolio/300x201.jpg', alt='', title='')
                    .tile.scale-anm.web.all
                        img(src='img/portfolio/300x270.jpg', alt='', title='')
                    .tile.scale-anm.flyers.all
                        img(src='img/portfolio/350x190.png', alt='', title='')
                    .tile.scale-anm.web.all
                        img(src='img/portfolio/200x290.png', alt='', title='')
                    .tile.scale-anm.flyers.all
                        img(src='img/portfolio/300x300.jpg', alt='', title='')
                    .tile.scale-anm.web.all
                        img(src='img/portfolio/200x290.png', alt='', title='')
                    .tile.scale-anm.flyers.all
                        img(src='img/portfolio/200x290.png', alt='', title='')
                    .tile.scale-anm.web.all
                        img(src='img/portfolio/300x300-2.jpg', alt='', title='')
                    .tile.scale-anm.bcards.all
                        img(src='img/portfolio/300x300-3.jpg', alt='', title='')
                    .tile.scale-anm.web.all
                        img(src='img/portfolio/350x190.png', alt='', title='')
                    .tile.scale-anm.bcards.all
                        img(src='img/portfolio/300x201.jpg', alt='', title='')
                    .tile.scale-anm.web.all
                        img(src='img/portfolio/300x300.jpg', alt='', title='')
                    .tile.scale-anm.web.all
                        img(src='img/portfolio/350x190.png', alt='', title='')
                    .tile.scale-anm.bcards.all
                        img(src='img/portfolio/200x290.png', alt='', title='')
            div(style='clear:both;')
            //-
              todo: to add "old fashion" computer blink effect!
              <div class="flicker"></div>

        //- jQuery v3.2.1
        script(src='js/jquery.min.js')
        //- custom javascript for current view
        script.
            $(function () {
                var selectedClass = "";
                $(".fil-cat").click(function () {
                    selectedClass = $(this).attr("data-rel");
                    $("#portfolio").fadeTo(100, 0.1);
                    $("#portfolio div").not("." + selectedClass).fadeOut().removeClass('scale-anm');
                    setTimeout(function () {
                        $("." + selectedClass).fadeIn().addClass('scale-anm');
                        $("#portfolio").fadeTo(300, 1);
                    }, 300);
                });
            });
        //- To register Service Worker & validate it by console log
        include includes/serviceworker