doctype html
html.no-js(lang='es')
    head
        meta(name='encoding', charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title jalofernández Portfolio web design
        meta(name='description', content='Galería de trabajos del portfolio y CV personal de Javier Lorenzo Fernández (aka jalofernandez). Diseñador gráfico y desarrollador web frontend de los que ya quedan pocos.')
        //- meta(name='keywords', content='diseño, diseño web, frontend, UX, UI, design, web desing, dibujo, maquetación, arte, creatividad, artes finales, diseño gráfico madrid, webmaster madrid, webmaster, diseñador web, diseñador web madrid, creatividad, inspiración, inspiration, creative')
        //- (common) Metatags in current view
        include includes/metatags
        //- custom styles for current view
        link(rel='stylesheet', type='text/css', href='css/portfolio.css')
    body
        //- All "modal dialogs" to load each big image modal
        //- IMP! We need modals just above main content page cause some CSS properties
        include includes/modals
        
        //- main content
        main
            .toolbar.mb2.mt2
                a.btn.menu__link.glitch(href='/', data-text='<< Home')
                    | #{portfolio.funnel.home}
                button.btn.fil-cat.menu__link.glitch(type='button', value='text', name='all', aria-labelledby='all', data-rel='all', data-text='All')
                    | #{portfolio.funnel.all}
                button.btn.fil-cat.menu__link.glitch(type='button', value='text', name='all', aria-labelledby='all', data-rel='layout', data-text='layout')
                    | #{portfolio.funnel.layout}
                button.btn.fil-cat.menu__link.glitch(type='button', value='text', name='all', aria-labelledby='all', data-rel='photo', data-text='photography')
                    | #{portfolio.funnel.photography}
                button.btn.fil-cat.menu__link.glitch(type='button', value='text', name='all', aria-labelledby='all', data-rel='web', data-text='UX/UI/Web')
                    | #{portfolio.funnel.web}
                button.btn.fil-cat.menu__link.glitch(type='button', value='text', name='all', aria-labelledby='all', data-rel='pack', data-text='packaging')
                    | #{portfolio.funnel.illustration}
                button.btn.fil-cat.menu__link.glitch(type='button', value='text', name='all', aria-labelledby='all', data-rel='graph', data-text='graphs/draws')
                    | #{portfolio.funnel.graphisms}
            div(style='clear:both;')
            #portfolio
                //- 1.(mixin declaration) common "overlay" Text
                mixin overlay
                  .overlay Click me to make me bigger
                //- 2. Gallery image list with mixin applied
                .tile.scale-anm.js-modal-trigger.graph.all(data-modal='modal-01')
                    img(src='img/portfolio/movistar-upplication_promo-rollup_by-jalofernandez.jpg', alt='Upplication + Movistar promo rollup by @jalofernandez', title='Upplication + Movistar promo rollup by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.pack.photo.all(data-modal='modal-20')
                    img(src='img/portfolio/britishknights_packaging-shoesbox_by-jalofernandez.jpg', alt='British Knights shoesbox packaging by @jalofernandez', title='British Knights shoesbox packaging by @jalofernandez') 
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.all(data-modal='modal-02')
                    img(src='img/portfolio/bcard_upplication_01.jpg', alt='Upplication business card side A by @jalofernandez', title='Upplication business card side A by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.all(data-modal='modal-03')
                    img(src='img/portfolio/bcard_upplication_02.jpg', alt='Upplication Developers business card by @jalofernandez', title='Upplication Developers business card by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.web.all(data-modal='modal-19')
                    img(src='img/portfolio/ecomerzpro_email-template-marketplace_by-jalofernandez.jpg', alt='EcomerzPro email layout by @jalofernandez', title='EcomerzPro email layout by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.all(data-modal='modal-04')
                    img(src='img/portfolio/upplication_pwa-infography_by-jalofernandez.jpg', alt='Upplication PWA infography layout by @jalofernandez', title='Upplication PWA infography layout by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.web.all(data-modal='modal-05')
                    img(src='img/portfolio/app_sample-pic_restaurant-module.png', alt='Upplication App (Restaurant module) by @jalofernandez', title='Upplication App (Restaurant module) by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.photo.all(data-modal='modal-42')
                    img(src='img/portfolio/britishknights_promo-collection_by-jalofernandez.jpg', alt='British Knights tees promo poster @jalofernandez', title='British Knights tees promo poster @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.all(data-modal='modal-43')
                    img(src='img/portfolio/salondejuegos_bcard-invitation_by-jalofernandez.jpg', alt='Salón de Juegos business card + invitation by @jalofernandez', title='Salón de Juegos business card + invitation by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.all(data-modal='modal-44')
                    img(src='img/portfolio/laparadadelosmonstruos-bar_flyer-halloween_by-jalofernandez.jpg', alt='La Parada de los Monstruos flyer by @jalofernandez', title='La Parada de los Monstruos flyer by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.graph.all(data-modal='modal-37')
                    img(src='img/portfolio/domolock-app_concept-logo_by-jalofernandez.jpg', alt='Domolock App concept logo by @jalofernandez', title='Domolock App concept logo by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.graph.all(data-modal='modal-38')
                    img(src='img/portfolio/puntoycoma_comic_strip_n32_by-jalofernandez.jpg', alt='Comic strip to Punto y Coma magazine by @jalofernandez', title='Comic strip to Punto y Coma magazine by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.graph.all(data-modal='modal-39')
                    img(src='img/portfolio/brithisknights_hoddie-specs_by-jalofernandez.jpg', alt='British Knights hoddie chart sheet by @jalofernandez', title='British Knights hoddie chart sheet by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.all(data-modal='modal-21')
                    img(src='img/portfolio/wellness_promo-flyerA5-sideA_by-jalofernandez.jpg', alt='Wellness promo flyer layout by @jalofernandez', title='Wellness promo flyer layout by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.all(data-modal='modal-22')
                    img(src='img/portfolio/wellness_promo-flyerA5-sideB_by-jalofernandez.jpg', alt='Wellness promo flyer layout by @jalofernandez', title='Wellness promo flyer layout by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.photo.all(data-modal='modal-23')
                    img(src='img/portfolio/britishknights_winter-catalog_by-jalofernandez.jpg', alt='British Knights winter catalog page by @jalofernandez', title='British Knights winter catalog page by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.graph.all(data-modal='modal-45')
                    img(src='img/portfolio/aiba_adoption-campaign-logo_by-jalofernandez.jpg', alt='Aiba adoption campaign logotype by @jalofernandez', title='Aiba adoption campaign logotype by @jalofernandez')
                    +overlay    
                .tile.scale-anm.js-modal-trigger.layout.web.all(data-modal='modal-24')
                    img(src='img/portfolio/widitrade_manager-offer-details_by-jalofernandez.jpg', alt='Widitrade manager offer detail view by @jalofernandez', title='Widitrade manager offer detail view by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.graph.all(data-modal='modal-07')
                    img(src='img/portfolio/upplication_socialmedia-promo-artwork_by-jalofernandez.jpg', alt='Upplication Valentines Day promo artwork to social media by @jalofernandez', title='Upplication Valentines Day promo artwork to social media by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.web.all(data-modal='modal-25')
                    img(src='img/portfolio/byeinsects_landing-page-with-counterdown_by-jalofernandez.jpg', alt='Bye Insects landing page by @jalofernandez', title='Bye Insects landing page by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.web.all(data-modal='modal-26')
                    img(src='img/portfolio/byeinsects_landing-page-desktop_by-jalofernandez.jpg', alt='Bye Insects landing page by @jalofernandez', title='Bye Insects landing page by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.all(data-modal='modal-53')
                    img(src='img/portfolio/younging_bcard-mockup_by-jalofernandez.jpg', alt='Younging business cards mockup by @jalofernandez', title='Younging business cards mockup by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.graph.all(data-modal='modal-65')
                    img(src='img/portfolio/upplication_crew-team-manifest_by-jalofernandez.jpg', alt='Upplication crew infography by @jalofernandez', title='Upplication crew infography by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.web.all(data-modal='modal-66')
                    img(src='img/portfolio/knowers_index-page-with-login-signin_by-jalofernandez.jpg', alt='Knowers webwsite login by @jalofernandez', title='Knowers webwsite login by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.graph.all(data-modal='modal-06')
                    img(src='img/portfolio/acens-upplication_infography-cover_by-jalofernandez.jpg', alt='Upplication + Acens infography cover by @jalofernandez', title='Upplication + Acens infography cover by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.graph.all(data-modal='modal-08')
                    img(src='img/portfolio/acens-upplication_infography-page_by-jalofernandez.jpg', alt='Upplication + Acens commercial infography by @jalofernandez', title='Upplication + Acens commercial infography by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.photo.all(data-modal='modal-27')
                    img(src='img/portfolio/spalding_promo-flyer-basket_by-jalofernandez.jpg', alt='Spalding promo flyer layout by @jalofernandez', title='Spalding promo flyer layout by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.web.all(data-modal='modal-54')
                    img(src='img/portfolio/teayudamosavendermas_website-contact-form_by-jalofernandez.jpg', alt='Te ayudamos a vender más contact form by @jalofernandez', title='Te ayudamos a vender más contact form by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.web.all(data-modal='modal-55')
                    img(src='img/portfolio/knowers_customers-chat-page-desktop_by-jalofernandez.jpg', alt='Knowers customers chat view desktop version by @jalofernandez', title='Knowers customers chat view desktop version by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.all(data-modal='modal-56')
                    img(src='img/portfolio/lepainquotidien_daily-menu-card_by-jalofernandez.jpg', alt='Le Pain Quotidien daily menu card by @jalofernandez', title='Le Pain Quotidien daily menu card by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.web.all(data-modal='modal-57')
                    img(src='img/portfolio/oportino-restaurant_website_by-jalofernandez.jpg', alt='O´Portiño restaurant website intro by @jalofernandez', title='O´Portiño restaurant website intro by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.web.all(data-modal='modal-58')
                    img(src='img/portfolio/ecomerzpro_email-template-outlet_by-jalofernandez.jpg', alt='Ecomerz Pro email template by @jalofernandez', title='Ecomerz Pro email template by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.photo.all(data-modal='modal-59')
                    img(src='img/portfolio/britishknights_promo-collection-poster_by-jalofernandez.jpg', alt='British Knights by Sergio Alcover promo poster by @jalofernandez', title='British Knights by Sergio Alcover promo poster by @jalofernandez')
                    +overlay                          
                .tile.scale-anm.js-modal-trigger.layout.web.all(data-modal='modal-28')
                    img(src='img/portfolio/ecomerzpro-club_landing-page_by-jalofernandez.jpg', alt='Ecomerz Pro landing page by @jalofernandez', title='Ecomerz Pro landing page by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.graph.all(data-modal='modal-29')
                    img(src='img/portfolio/oportino_bcard-sideA_by-jalofernandez.jpg', alt='O´Portiño business card side A by @jalofernandez', title='O´Portiño business card side A by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.web.all(data-modal='modal-62')
                    img(src='img/portfolio/knowers_customers-chat-page-mobile_by-jalofernandez.jpg', alt='Knowers customers chat view mobile version by @jalofernandez', title='Knowers customers chat view mobile version by @jalofernandez')
                    +overlay           
                .tile.scale-anm.js-modal-trigger.layout.photo.all(data-modal='modal-30')
                    img(src='img/portfolio/medion_promo-triptico-exterior_by-jalofernandez.jpg', alt='Medion promo flyer layout by @jalofernandez', title='Medion promo flyer layout by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.photo.all(data-modal='modal-31')
                    img(src='img/portfolio/medion_promo-triptico-interior_by-jalofernandez.jpg', alt='Medion promo flyer layout by @jalofernandez', title='Medion promo flyer layout by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.graph.all(data-modal='modal-32')
                    img(src='img/portfolio/brithisknights_swimsuit-mix-specs_by-jalofernandez.jpg', alt='British Knights swinsuit chart sheet by @jalofernandez', title='British Knights swinsuit chart sheet by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.web.all(data-modal='modal-46')
                    img(src='img/portfolio/wellness_website-newsletter-sign_by-jalofernandez.jpg', alt='Wellness newsletter sign layout by @jalofernandez', title='Wellness newsletter sign layout by by @jalofernandez')
                    +overlay                       
                .tile.scale-anm.js-modal-trigger.graph.all(data-modal='modal-33')
                    img(src='img/portfolio/britishknights_baseball-logo_designed-by-jalofernandez.jpg', alt='British Knights baseball logo by @jalofernandez', title='British Knights baseball logo by @jalofernandez')
                    +overlay 
                .tile.scale-anm.js-modal-trigger.graph.all(data-modal='modal-34')
                    img(src='img/portfolio/puntoycoma_comic_strip_n28_by-jalofernandez.jpg', alt='Comic strip to Punto y Coma magazine by @jalofernandez', title='Comic strip to Punto y Coma magazine by @jalofernandez')
                    +overlay 
                .tile.scale-anm.js-modal-trigger.layout.web.all(data-modal='modal-63')
                    img(src='img/portfolio/knowers_customers-chat-modal_by-jalofernandez.jpg', alt='Knowers customers chat modal dialog by @jalofernandez', title='Knowers customers chat modal dialog by @jalofernandez')
                    +overlay  
                .tile.scale-anm.js-modal-trigger.layout.web.all(data-modal='modal-64')
                    img(src='img/portfolio/widitrade-manager_offer-marketplace_desktop.jpg', alt='Widitrade manager marketplace view by @jalofernandez', title='Widitrade manager marketplace  view by @jalofernandez')
                    +overlay    
                .tile.scale-anm.js-modal-trigger.layout.graph.all(data-modal='modal-09')
                    img(src='img/portfolio/upplication-movistar_aso-ebook-page_by-jalofernandez.jpg', alt='Upplication + Movistar ASO eBook page by @jalofernandez', title='Upplication + Movistar ASO eBook page by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.web.all(data-modal='modal-60')
                    img(src='img/portfolio/upplication_app-ios-template-block_by-jalofernandez.jpg', alt='Upplication iOS Template catalog view by @jalofernandez', title='Upplication iOS Template catalog view by @jalofernandez')
                    +overlay 
                .tile.scale-anm.js-modal-trigger.web.all(data-modal='modal-61')
                    img(src='img/portfolio/upplication_app-ios-template-inline_by-jalofernandez.jpg', alt='Upplication iOS Template catalog view by @jalofernandez', title='Upplication iOS Template catalog view by @jalofernandez')
                    +overlay      
                .tile.scale-anm.js-modal-trigger.layout.all(data-modal='modal-10')
                    img(src='img/portfolio/abc_bcard-front-claram_designed-by-jalofernandez.jpg', alt='ABC architecture business card side A by @jalofernandez', title='ABC architecture business card side A by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.all(data-modal='modal-11')
                    img(src='img/portfolio/abc_bcard-back-claram_designed-by-jalofernandez.jpg', alt='ABC architecture business card side B by @jalofernandez', title='ABC architecture business card side B by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.web.all(data-modal='modal-51')
                    img(src='img/portfolio/gastronomix_website-footer_by-jalofernandez.jpg', alt='Gastronomix website by @jalofernandez', title='Gastronomix website by @jalofernandez')
                    +overlay                    
                .tile.scale-anm.js-modal-trigger.graph.all(data-modal='modal-12')
                    img(src='img/portfolio/upplication_promo-sticker_by-jalofernandez.jpg', alt='Upplication promo sticker by @jalofernandez', title='Upplication promo sticker by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.photo.all(data-modal='modal-48')
                    img(src='img/portfolio/lepainquotidien_daily-menu-promo-poster_by-jalofernandez.jpg', alt='Le Pain Quotidien promo poster by @jalofernandez', title='Le Pain Quotidien promo poster by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.pack.all(data-modal='modal-49')
                    img(src='img/portfolio/teayudamosavendermas_folder_by-jalofernandez.jpg', alt='Te ayudamos a vender más promo folders by @jalofernandez', title='Te ayudamos a vender más promo folders by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.pack.all(data-modal='modal-52')
                    img(src='img/portfolio/britishknights_clothing-display-blueprint_by-jalofernandez.jpg', alt='British Knights clothing display by @jalofernandez', title='British Knights clothing display by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.all(data-modal='modal-50')
                    img(src='img/portfolio/artsclubmadrid_drinks-card_by-jalofernandez.jpg', alt='Arts Club Madrid drinks card page by @jalofernandez', title='Arts Club Madrid drinks card page by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.web.all(data-modal='modal-47')
                    img(src='img/portfolio/knowers_about-us-page_by-jalofernandez.jpg', alt='Knowers landing page layout by @jalofernandez', title='Knowers landing page layout by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.graph.all(data-modal='modal-13')
                    img(src='img/portfolio/upplication_socialmedia-hiring-artwork_by-jalofernandez.jpg', alt='Knowers landing page layout by @jalofernandez', title='Knowers landing page layout by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.web.all(data-modal='modal-14')
                    img(src='img/portfolio/app_sample-pic_mcommerce-module.png', alt='Upplication mCommerce module for Apps by @jalofernandez', title='Upplication mCommerce module for Apps by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.web.all(data-modal='modal-15')
                    img(src='img/portfolio/upp_dashboard_shipping-charges-view_by-jalofernandez.jpg', alt='Upplication dashboard shipping charges feature by @jalofernandez', title='Upplication dashboard shipping charges feature by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.graph.all(data-modal='modal-16')
                    img(src='img/portfolio/upplication_ios-template-promo_by-jalofernandez.jpg', alt='Upplication iOS Template promo artwork by @jalofernandez', title='Upplication iOS Template promo artworkby @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.graph.all(data-modal='modal-18')
                    img(src='img/portfolio/upplication_dashboard-custom-forms-feature_by-jalofernandez.jpg', alt='Upplication dashboard promo feature by @jalofernandez', title='Upplication dashboard promo feature by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.all(data-modal='modal-35')
                    img(src='img/portfolio/wellness_bcard-sideA-designed-by-jalofernandez.jpg', alt='Wellness business card side A by @jalofernandez', title='Wellness business card side A by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.all(data-modal='modal-36')
                    img(src='img/portfolio/wellness_bcard-sideB-designed-by-jalofernandez.jpg', alt='Wellness business card side B by @jalofernandez', title='Wellness business card side B by @jalofernandez')
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.all(data-modal='modal-40')
                    img(src='img/portfolio/rusty_parka-snow-labels-sideA_by-jalofernandez.jpg', alt='Rusty labels to winter jackets by @jalofernandez', title='Rusty labels to winter jackets by @jalofernandez') 
                    +overlay
                .tile.scale-anm.js-modal-trigger.layout.all(data-modal='modal-41')
                    img(src='img/portfolio/rusty_parka-snow-labels-sideB_by-jalofernandez.jpg', alt='Rusty labels to winter jackets by @jalofernandez', title='Rusty labels to winter jackets by @jalofernandez') 
                    +overlay
                //- TODO: images gallery BASE
                    .tile.scale-anm.js-modal-trigger.web.all
                        img(src='img/portfolio/300x201.jpg', alt='', title='')
                        +overlay
                    .tile.scale-anm.js-modal-trigger.web.all
                        img(src='img/portfolio/300x270.jpg', alt='', title='')
                        +overlay
                    .tile.scale-anm.js-modal-trigger.flyers.all
                        img(src='img/portfolio/350x190.png', alt='', title='')
                        +overlay
                    .tile.scale-anm.js-modal-trigger.web.all
                        img(src='img/portfolio/200x290.png', alt='', title='')
                        +overlay
                    .tile.scale-anm.js-modal-trigger.flyers.all
                        img(src='img/portfolio/300x300.jpg', alt='', title='')
                        +overlay
                    .tile.scale-anm.js-modal-trigger.web.all
                        img(src='img/portfolio/200x290.png', alt='', title='')
                        +overlay
                    .tile.scale-anm.js-modal-trigger.flyers.all
                        img(src='img/portfolio/200x290.png', alt='', title='')
                        +overlay
                    .tile.scale-anm.js-modal-trigger.web.all
                        img(src='img/portfolio/300x300-2.jpg', alt='', title='')
                        +overlay
                    .tile.scale-anm.js-modal-trigger.bcards.all
                        img(src='img/portfolio/300x300-3.jpg', alt='', title='')
                        +overlay
                    .tile.scale-anm.js-modal-trigger.web.all
                        img(src='img/portfolio/350x190.png', alt='', title='')
                        +overlay
                    .tile.scale-anm.js-modal-trigger.bcards.all
                        img(src='img/portfolio/300x201.jpg', alt='', title='')
                        +overlay
                    .tile.scale-anm.js-modal-trigger.web.all
                        img(src='img/portfolio/300x300.jpg', alt='', title='')
                        +overlay
                    .tile.scale-anm.js-modal-trigger.web.all
                        img(src='img/portfolio/350x190.png', alt='', title='')
                        +overlay
                    .tile.scale-anm.js-modal-trigger.bcards.all
                        img(src='img/portfolio/200x290.png', alt='', title='')
                        +overlay
            div(style='clear:both;')
            //- TODO: to add "old fashion" computer blink effect!
              .flicker
      
        //- jQuery v3.2.1
        script(src='js/jquery.min.js')
        //- custom javascript for Modal Dialogs behaviour
        script(src='js/modals.min.js')
        //- custom javascript for filterin´(portfolio) items animation
        script.
            $(function () {
                var selectedClass = "";
                $(".fil-cat").click(function () {
                    selectedClass = $(this).attr("data-rel");
                    $("#portfolio").fadeTo(100, 0.1);
                    $("#portfolio div").not("." + selectedClass).fadeOut().removeClass('scale-anm');
                    setTimeout(function () {
                        $("." + selectedClass).fadeIn().addClass('scale-anm');
                        $("#portfolio").fadeTo(300, 1);
                    }, 300);
                });
            });
        //- To register Service Worker & validate it by console log
        include includes/serviceworker

        //- TODO: remove all the following code!!
        //- classie.js by @desandro: https://github.com/desandro/classie
          script(src='js/modals/classie.js')
          script(src='js/modals/modalEffects.js')
        //- for the blur effect
        //- by @derSchepp https://github.com/Schepp/CSS-Filters-Polyfill
          script.
            //- this is important for IEs
            var polyfilter_scriptpath = '/js/';
          script(src='js/modals/cssParser.js')
          script(src='js/modals/css-filters-polyfill.js')
